global
    log stdout format raw local0

defaults
    log     global
    option  tcplog
    timeout connect 5000ms
    timeout server  50000ms
    timeout client  50000ms

frontend mongodb_front
    bind *:27017
    default_backend mongodb_back

backend mongodb_back
    balance roundrobin
    server mongo1 mongo1:27017 check
    server mongo2 mongo2:27017 check
    server mongo3 mongo3:27017 check
